eureka:
  instance:
    hostname: localhost
  client:
    service-url:
        defaultZone: http://localhost:8761/eureka/

# prevent from own yml files overriding system properties
spring:
  cloud:
    config:
      override.system-properties: false

management:
  tracing:
    sampling:
      probability: 1.0